<%- include ('../../partials/navbar') %>

<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card" style="padding: 2em;">
            <div class="card-header">
                <h3>Lista de Cursos</h3>
            </div>
            <div class="card-body">
                <a type="button" class="btn btn-success mb-3" href="/admin/cursos/crear">+ Agregar</a>
                <table class="table table-bottom-border table-light align-middle mb-3">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Título</th>
                            <th>Categoría</th>
                            <th>Profesor</th>
                            <th>Estado</th>
                            <th>Fecha Creación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cursos.forEach(curso => { %>
                            <tr>
                                <td><%= curso.id %></td>
                                <td><%= curso.titulo %></td>
                                <td><%= curso.categoria %></td>
                                <td>
                                    <% if (curso.profesor) { %>
                                        <%= curso.profesor %>
                                    <% } else { %>
                                        No asignado
                                    <% } %>
                                </td>
                                <td>
                                    <% if (curso.publicado === 1) { %>
                                        <span class="badge bg-success text-white">
                                            Publicado
                                        </span>
                                    <% } else { %>
                                        <span class="badge bg-danger text-white">
                                            Pendiente
                                        </span>
                                    <% } %>
                                </td>
                                <td><%= curso.fecha_creacion %></td>
                                <td>
                                    <a class="btn btn-sm btn-secondary" href="/admin/cursos/ver/<%= curso.id %>">Ver</a>
                                    <% if (!curso.profesor) { %>
                                        <a class="btn btn-sm btn-warning" href="/admin/cursos/asignar_profesor/<%= curso.id %>">+ Profesor</a>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <a type="button" class="btn btn-primary me-2" href="/">Volver al Inicio</a>
    </div>
</div>

<%- include ('../../partials/footer') %>