<!-- Profesores Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">Instructores</h6>
      <h1 class="mb-5">Conocé a nuestros profesores</h1>
    </div>
    <div class="row g-4">
      <%
        const fotos = [
          '/assets/img/profesor1.jpeg',
          '/assets/img/profesor2.jpeg',
          '/assets/img/profesor3.jpg',
          '/assets/img/profesor4.png',
          '/assets/img/profesor5.jpg',
          '/assets/img/profesor6.png',
          '/assets/img/profesor7.png',
          '/assets/img/profesor8.jpg'
        ];
      %>
      <% if (profesores && profesores.length > 0) { %>
        <% profesores.forEach((profesor, index) => { %>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="<%= (0.1 + (index % 8) * 0.1).toFixed(1) %>s">
            <div class="team-item bg-light">
              <div class="overflow-hidden">
                <img class="img-fluid" src="<%= fotos[index % fotos.length] %>" alt="<%= profesor.nombre %>">
              </div>
              <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                  <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
              <div class="text-center p-4">
                <h5 class="mb-0"><%= profesor.nombre %></h5>
                <small><%= profesor.email %></small><br>
                <small>
                  Cursos:
                  <%= profesor.cursos && Array.isArray(profesor.cursos) && profesor.cursos.length > 0 ? profesor.cursos.join(', ') : '-' %>
                </small>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <div class="col-12 text-center">
          <p class="text-center text-muted">No hay profesores asignados aún.</p>
        </div>
      <% } %>
    </div>
  </div>
</div>
<!-- Profesores End -->